@import '../../../../assets/theme/variable.scss';
.forgot{
  width: 100%;
  height: 29px;
  margin-top: 15%;
  margin-left: 17%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #393333;
}
  .forgot_pass{
    width: 60%;
    height: 80px;
    margin-left: 13%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: black;
  }
  .back{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top:10%;
    margin-left: 2%;
  }
  .arrow{
    margin-left: 5%;
    margin-top:11%;
  }