<section class="NavbarBG">
    <div class="Rectangle-16 row">
        <div class="Rectangle-17 col-6">
            <img src="../../../../assets/images/logo.png" class="img">
            <p class="txt">COVID-19 TEST</p>
            <p class="forgot_pass">Did you Forget your password?
                Just enter your registered Email and reset your password.</p>
            <p class="pwr">Powered by Cnetso Group Ltd </p>
        </div>
        <div class="col-6">
            <div class="row">
                <p class="fa fa-arrow-left arrow col"><span class="back">Back to Sign In</span></p>
            </div>

            <p class="forgot">FORGOT PASSWORD</p>
            <input class="Rectangle-21" style="margin-top: 20px" type="text" placeholder="Email Address">
            <button class="btn">SUBMIT</button>


        </div>

    </div>
</section>