<section class="NavbarBG">
    <div class="Rectangle-16 row">
      <div class="Rectangle-17 col-6">
        <img src="../../../../assets/images/logo.png" class="img">
        <p class="txt">COVID-19 TEST</p>
        <p class="sign_in">Please Login to your account to test your result</p>
        <p class="pwr">Powered by Cnetso Group Ltd </p>
      </div>
      <div class="col-6">
        <p class="register" style="margin-top: 20% !important;">SIGN IN TO CONTINUE</p>
        <input class="Rectangle-21" style="margin-top: 20px" type="text" placeholder="Email Address">
        <input class="Rectangle-21" type="text" placeholder="Password">
        <p style="text-align: right; padding-right:13%">forgot password?</p>
        
        <button class="btn">SIGN IN</button>
        <p class="Or-Sign-in-using">Or Sign in using</p>
        <button class="Rectangle-161" style="color:yellow; margin-left:100px"><i class="fa fa-instagram"></i></button>
        <button class="Rectangle-161 ml-2" style="color:blue"><i class="fa fa-facebook-f"></i></button>
        <button class="Rectangle-161 ml-2" style="color:red"><i class="fa fa-google"></i></button>
        <p class="Have-an-Account">Don't have an Account?<strong class="Sign-in">Register</strong></p>
  
      </div>
  
    </div>
  </section>